[Unit]
Description=Kjør Quest of the Roasted Bean-backup hver natt

[Timer]
OnCalendar=*-*-* 03:30:00
Persistent=true

[Install]
WantedBy=timers.target
