[Unit]
Description=Kjør Caffeine Level Critical-backup hver natt

[Timer]
OnCalendar=*-*-* 03:30:00
Persistent=true

[Install]
WantedBy=timers.target
